<p>
    PROVINCIA
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código Padre</th>
            <th scope="col">Descripción Padre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let province of provinces">
            <td> {{ province.currentCode }} </td>
            <td> {{ province.currentName }} </td>
            <td> {{ province.parentCode }} </td>
            <td> {{ province.parentName }} </td>
        </tr>
    </tbody>
</table>